
/*Header*/
.nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.nav__logo {
    color: #0F52BA;
}
.nav__item--jobs {
    margin-left: 40px;
    font-size: 18px;
}

.nav__item--about {
    margin-left: 40px;
    font-size: 18px;
}

.nav__item--signin {
    margin-left: 40px;
    font-size: 18px;

}

.nav__item--register {
    margin-left: 40px;
    font-size: 18px;
}


.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.form-containter__form{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    border: none;
}

.form-container__jobtitle {
   width: 400px;
   height: 60px;
   border-right: none;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-color: none;
   border-width: thin;
}

.form-container__jobtitle:focus {
    border-color:#0F52BA;
    border-width: thin;
}

.form-containter__location {
    width: 400px;
    height: 60px;;
    border-right: none;
    border-left: none;
    border-width: thin;
}


.form-container__location:focus {
    border-color: #0F52BA;
    border-width: thin;
}

.form-container__search-button {
    height: 60px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: thin;
    background-color: #0F52BA;
    color: #fff;

}

.job-info--box{
    border-color: aqua;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    border-style: solid;
}



 .job-info--description {
    text-align: justify;
    border-radius: 20px;
}



.hide-content {
    display: none;
    transition: display 2s ease-out;
}


.show-content {
   display: block;
}

.footer {
    background-color: aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;
}


