
body {
    background-color: #fff;
}
.nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.nav__logo {
    color: #0F52BA;
}
.nav__item--jobs {
    margin-left: 40px;
    font-size: 18px;
}

.nav__item--about {
    margin-left: 40px;
    font-size: 18px;
}

.nav__item--signin {
    margin-left: 40px;
    font-size: 18px;

}

.nav__item--logout {
    margin-left: 40px;
    margin-top: 7px;
    font-size: 18px;
    border: none;
    background-color: inherit;
    color: inherit;   
}



.nav__item--register {
    margin-left: 40px;
    font-size: 18px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.form-containter__form{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    border: none;
}

.form-container__jobtitle {
    background: url(./assets/work.svg) no-repeat scroll center left 10px;
    padding-left: 45px;
   width: 400px;
   height: 60px;
   border-right: none;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-color: none;
   border-width: thin;
}

.form-container__jobtitle:focus {
    border-color:#0F52BA;
    border-width: thin;
}

.form-containter__location {
    background: url(./assets/location.svg) no-repeat scroll center left 10px;
    padding-left: 45px;
    width: 400px;
    height: 60px;;
    border-right: none;
    border-left: none;
    border-width: thin;
}


.form-container__location:focus {
    border-color: #0F52BA;
    border-width: thin;
}

.form-container__search-button {
    height: 60px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: thin;
    background-color: #0F52BA;
    color: #fff;

}

.loader {
    height: 70px;
    width: 70px;
}

.error-message {
    text-align: center;
}
.signin {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.signin__form {
    padding: 40px;
    background-color: #0F52BA;
    border-radius: 10px;
    color:#fff;
    box-shadow: 5px 5px 10px lightgray;
}

.signin__form--email {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.signin__form--password {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.signin__form--button {
    float: right;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}


.register {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.register__form {
    padding: 40px;
    background-color: #0F52BA;
    border-radius: 10px;
    color:#fff;
    box-shadow: 5px 5px 10px lightgray;
}

.register__form--firstname,
.register__form--lastname {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.register__form--email {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.register__form--password {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.register__form--confirm {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: thin;
}

.register__form--button {
    float: right;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

.about,
.disclaimer,
.privacy {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 10px;
}

.pagination button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fff;
    color: #000;
    border-color: #0F52BA;
    box-shadow: 5px 5px 10px lightgray;
}

.pagination button.active {
    background-color: #0F52BA;
    color: #fff;
}

.jobs__container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    border-width: medium;
    margin-bottom: 20px;
    margin-left: 210px;
    margin-right: 210px;
    padding: 30px;
}

.jobs__container:hover {
    border-color: #0F52BA;
    transition: display 2s ease-out;
    box-shadow: 5px 5px 10px lightgray;
}

.jobs__container--save-job {
    border-color: #0F52BA;
}

.single-job__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    top: 0;
    left: 0;
}
    

.single-job__container--content {
    background-color: #fff;
    padding: 70px;
    border-radius: 20px;
    margin-left: 210px;
    margin-right: 210px;
}

.single-job__container--close {
    border-style: solid;
    border-width: thin;
    float: right;
    cursor: pointer;

}

.single-job__container--apply {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #0F52BA;
    color:#fff;
    border-color: #0F52BA;
}

.single-job__container--save-job {
    margin-left: 15px;
    width: 150px;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: antiquewhite;
    color:#0F52BA;
    border-color: antiquewhite;
    
}
.hidden {
    display: none;
}

.footer__items {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #0F52BA;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 10px;
    list-style: none;
}

.copyright {
    color:#fff;
    align-self: center;
}

